<div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col mb-4" *ngFor="let video of videos">
      <div class="card animated fadeIn">
        <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">
            <strong>Autor:</strong> {{ video.channelTitle }}
          </p>
          <p class="text-muted">
            <strong>Publicado:</strong> {{ video.publishedAt | date }}
          </p>
          <button class="btn btn-danger btn-block"
                  (click)="mostrarVideo(video)" >Ver video</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5 text-center">
  <div class="col">
    <button class="btn btn-outline-danger btn-lg"
            (click)="cargarVideos()">
      Cargar más
    </button>
  </div>
</div>

